@model SistemErasmusRazmjena.Models.Predmet

@{
    ViewData["Title"] = "Edit";
}

<h1>Uredi</h1>

<h4>Predmet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PredmetID" />
            <div class="form-group">
                <label asp-for="PrijedlogPredmetaID" class="control-label"></label>
                <select asp-for="PrijedlogPredmetaID" class="form-control" asp-items="ViewBag.PrijedlogPredmetaID"></select>
                <span asp-validation-for="PrijedlogPredmetaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PredmetHome" class="control-label"></label>
                <input asp-for="PredmetHome" class="form-control" />
                <span asp-validation-for="PredmetHome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PredmetAccepting" class="control-label"></label>
                <input asp-for="PredmetAccepting" class="form-control" />
                <span asp-validation-for="PredmetAccepting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
