@model SistemErasmusRazmjena.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Log in";
}

<h2>Log in</h2>

<form asp-controller="Account" asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" class="form-control" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <div class="form-check">
            <input type="checkbox" id="RememberMe" name="RememberMe" class="form-check-input" />
            <label class="form-check-label" for="RememberMe">Remember me?</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
