@model SistemErasmusRazmjena.Models.ErasmusProgram

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj novi Erasmus program</h1>

<h4>ErasmusProgram</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-4">
                <label asp-for="Semestar" class="control-label"></label>
                <select asp-for="Semestar" class="form-control">
                    <option value="1">Zimski</option>
                    <option value="2">Ljetni</option>
                </select>
                <span asp-validation-for="Semestar" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="AkademskaGodina" class="control-label"></label>
                <input asp-for="AkademskaGodina" class="form-control" placeholder="e.g., 2023/2024" />
                <span asp-validation-for="AkademskaGodina" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Univerzitet" class="control-label"></label>
                <input asp-for="Univerzitet" class="form-control" />
                <span asp-validation-for="Univerzitet" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Opis" class="control-label"></label>
                <textarea asp-for="Opis" class="form-control custom-width"></textarea>
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Dodaj program</button>
                <a asp-action="Index" class="btn btn-secondary">Nazad na listu</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
