@{
    ViewData["Title"] = "Pošalji notifikaciju";
    int prijavaId = (int)ViewBag.PrijavaID;
}

<h2>Pošalji notifikaciju</h2>

<form asp-action="Create" method="post">
    <input type="hidden" name="prijavaId" value="@prijavaId" />

    <div class="mb-3">
        <label for="sadrzaj" class="form-label">Sadržaj notifikacije</label>
        <textarea name="sadrzaj" class="form-control" rows="4" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Pošalji</button>
</form>
