@{
    ViewData["Title"] = "Inbox";
}

<h1>Inbox</h1>

<div>
    <h2>Nove notifikacije</h2>
    @if (ViewBag.UnreadNotifications.Count == 0)
    {
        <p>Nema novih notifikacija.</p>
    }
    else
    {
        <ul>
            @foreach (var notification in ViewBag.UnreadNotifications)
            {
                <li>
                    <span class="text-danger">?</span>
                    @notification.Sadrzaj
                    <form method="post" asp-action="MarkAsRead" asp-route-id="@notification.Id" style="display:inline;">
                        <button type="submit" class="btn btn-link">Označi kao pročitano</button>
                    </form>
                </li>
            }
        </ul>
    }

    <h2>Pročitane notifikacije</h2>
    @if (ViewBag.ReadNotifications.Count == 0)
    {
        <p>Nemna pročitanih notifikacija.</p>
    }
    else
    {
        <ul>
            @foreach (var notification in ViewBag.ReadNotifications)
            {
                <li>@notification.Sadrzaj</li>
            }
        </ul>
    }
</div>
